<!DOCTYPE html>
<html lang="pt-BR">
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BFK1J8PF6K"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BFK1J8PF6K');
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cases de Sucesso - NextGen Analytics Solutions</title>
    <link rel="stylesheet" href="styles.css">
    <!-- Google Fonts: Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    
</head>
 <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TLLSBRLC"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
 <!-- Header -->
<body>
    <header>
        <div class="container">
            <img src="images/file-EWVcR8wtisMNc13FckyAPo.webp" alt="NextGen Analytics Solutions Logo" class="banner-image">
            <h1>Cases de Sucesso</h1>
            <p>Explore como nossas soluções estão transformando negócios e criando impactos positivos.</p>
        </div>
    </header>

    <nav>
    <div aria-label="breadcrumb">
        <a href="index.html">Início</a> > <span>Cases</span>
    </div>
        <button class="menu-toggle" onclick="toggleMenu()">☰</button>
        <ul class="menu">
            <li><a href="index.html">🏠 Início</a></li>
            <li><a href="competency_mapping.html">📊 Mapeamento de Competências</a></li>
            <li><a href="process_optimization.html">⚙️ Otimização de Processos</a></li>
            <li><a href="data_science_consulting.html">📈 Consultoria em Ciência de Dados</a></li>
            <li><a href="machine_learning_solutions.html">🤖 Machine Learning</a></li>
            <li><a href="generative_models.html">🌌 Modelos Generativos</a></li>
            <li><a href="cases.html">🏆 Cases</a></li>
            <li><a href="contact.html">📞 Contato</a></li>
        </ul>
    </nav>

    <main>
        <section class="case-success">
            <div class="case-container">
                <a href="https://gokuhayda.github.io/nextgen_frontend/index.html" target="_blank" rel="noopener noreferrer">
                    <img src="images/logo.webp" alt="Logo Coletivo Inclusão" class="case-logo" style="width: 150px; height: auto; display: block; margin: 0 auto;">
                </a>
                <h2>Coletivo Inclusio</h2>
                <p>
                    O Coletivo Inclusio, com o suporte de soluções avançadas de análise de dados, otimizou seus processos 
                    operacionais e aumentou seu impacto social em diversas áreas, como Equoterapia, gestão financeira e eventos culturais.
                </p>
                <div class="case-details">
                    <h3>Soluções Implementadas</h3>
                    <ul>
                        <li>
                            <strong>Gestão de Equoterapia e Eventos:</strong> Modelos de otimização linear ajustaram os agendamentos, 
                            resultando em uma redução de 20% no tempo de espera.
                        </li>
                        <li>
                            <strong>Gestão Financeira:</strong> A aplicação de séries temporais permitiu prever flutuações na arrecadação, 
                            aumentando em 12% os valores em períodos de baixa.
                        </li>
                        <li>
                            <strong>Gestão Cultural:</strong> Análises de clusters redefiniram horários de eventos, aumentando a participação em 25%.
                        </li>
                        <li>
                            <strong>Mapeamento de Competências:</strong> Algoritmos supervisionados identificaram lacunas em 30% dos colaboradores, 
                            permitindo treinamentos que elevaram a performance das equipes em 40%.
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <hr class="separator">

    
    </main>
    <!-- Botão do WhatsApp -->
    <a href="https://api.whatsapp.com/send?phone=5541995484812&text=Oi, visitei o site e gostaria de saber mais sobre a NextGen Analytics Solutions" id="whatsapp-button" target="_blank" title="Fale Conosco pelo WhatsApp">
    <i class="fab fa-whatsapp"></i>
   </a>
    
    <footer>
        <p>© 2024 NextGen Analytics Solutions. Todos os direitos reservados.</p>
    </footer>

    <script>
        function toggleMenu() {
            document.querySelector(".menu").classList.toggle("active");
        }
    </script>

<!-- Scripts -->
<script src="static/chatbot.js"></script>
    
</body>
</html>
